<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default"/>

	<f:section name="Main">
		<f:flashMessages/>

		<f:if condition="{bicycles}">
			<f:render section="Listing" arguments="{_all}" />
			<f:render section="Modal" arguments="{_all}" />
		</f:if>
	</f:section>

	<f:section name="Listing">
		<div class="row">
			<f:for each="{bicycles}" as="bicycle">
				<div class="col-12 col-md-6">
					<f:render section="Item" arguments="{_all}" />
				</div>
			</f:for>
		</div>
	</f:section>

	<f:section name="Item">
		<div class="bicycle-listing--item" data-target-uri="{f:uri.action(action: 'show', arguments: '{bicycle: bicycle}', pageUid: settings.showPageUid, pageType: settings.fetchRequestTypeNum)}">
			<div>
				<f:render partial="Components/Media" section="Picture" arguments="{
					file: bicycle.media.0,
					image: {maxWidth: 700, cropVariant: 'listing'},
					sizes: {
						0: {maxWidth: 485, mediaQuery: '(min-width: 768px)', cropVariant: 'listing'},
						1: {maxWidth: 700, mediaQuery: '(min-width: 1px)', cropVariant: 'listing'}
					}
				}" />
			</div>

			<div><f:link.action action="show" arguments="{bicycle: bicycle}" pageUid="{settings.showPageUid}">{bicycle.title}</f:link.action></div>
			<div>{bicycle.brand}</div>
		</div>
	</f:section>

	<f:section name="Modal">

		<div id="bicycle-modal" class="bicycle-modal" aria-hidden="true">
			<div tabindex="-1" data-micromodal-close class="modal--backdrop">
				<button aria-label="Close modal" data-micromodal-close class="modal--close"><span aria-hidden="true">&times;</span></button>
				<div role="dialog" aria-modal="true" class="modal bicycle-record">
					xxx
				</div>
			</div>
			</div>
		</div>

		<script>
			// xna.on('documentLoaded', function() {
			// 	xna.fire('bicycleOpen');
			// });
		</script>
	</f:section>

	<f:section name="Modal2">
		<div class="bicycle-market--modal-backdrop"></div>
		<div class="container-outer container-outer--width-normal bicycle-market--modal" tabindex="-1" role="dialog">
			<div class="bicycle-market--modal-close"><button aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
			<div class="container-inner bicycle-market--modal-container">

			</div>
		</div>
	</f:section>
</html>
