<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default"/>

	<f:section name="Main">
		<f:flashMessages/>

		<f:if condition="{bicycles}">
			<f:render section="Listing" arguments="{_all}" />
			<f:render section="Modal" arguments="{_all}" />
		</f:if>
	</f:section>

	<f:section name="Listing">
		<div class="row bicycle-listing">
			<f:for each="{bicycles}" as="bicycle">
				<div class="col-12 col-md-6 col-lg-4">
					<f:render section="Item" arguments="{_all}" />
				</div>
			</f:for>

			<f:for each="{bicycles}" as="bicycle">
				<div class="col-12 col-md-6 col-lg-4">
					<f:render section="Item" arguments="{_all}" />
				</div>
			</f:for>

			<f:for each="{bicycles}" as="bicycle">
				<div class="col-12 col-md-6 col-lg-4">
					<f:render section="Item" arguments="{_all}" />
				</div>
			</f:for>

			<f:for each="{bicycles}" as="bicycle">
				<div class="col-12 col-md-6 col-lg-4">
					<f:render section="Item" arguments="{_all}" />
				</div>
			</f:for>
		</div>
	</f:section>

	<f:section name="Item">
		<div class="bicycle-item" data-target-uri="{f:uri.action(action: 'show', arguments: '{bicycle: bicycle}', pageUid: settings.showPageUid, pageType: settings.fetchRequestTypeNum)}" title="{f:translate(key: 'item.title', arguments: {0: bicycle.title})}">
			<div class="bicycle-item--image">
				<f:render partial="Components/Media" section="Picture" arguments="{
					file: bicycle.media.0,
					image: {maxWidth: 700, cropVariant: 'listing', title: '{f:translate(key: \'item.title\', arguments: {0: bicycle.title})}'},
					sizes: {
						0: {maxWidth: 315, mediaQuery: '(min-width: 992px)', cropVariant: 'listing'},
						1: {maxWidth: 445, mediaQuery: '(min-width: 768px)', cropVariant: 'listing'},
						2: {maxWidth: 700, mediaQuery: '(min-width: 1px)', cropVariant: 'listing'}
					}
				}" />
			</div>

			<div class="bicycle-item--title">{bicycle.title}</div>

			<f:if condition="{bicycle.brand}">
				<div class="bicycle-item--brand">{bicycle.brand}</div>
			</f:if>
		</div>
	</f:section>

	<f:section name="Modal">

		<div id="bicycle-modal" class="bicycle-modal" aria-hidden="true">
			<div tabindex="-1" data-micromodal-close class="modal--backdrop">
				<button aria-label="Close modal" data-micromodal-close class="modal--close"><span aria-hidden="true">&times;</span></button>
				<div role="dialog" aria-modal="true" class="modal bicycle-record"></div>
			</div>
		</div>


	</f:section>
</html>
