<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Default" />

  <f:section name="Main">
    <div class="bicycle-modal--content bicycle-modal--data">
      <f:render section="Images" arguments="{bicycle: bicycle}" />

      <header class="bicycle-modal--header">
        <f:render section="Header" arguments="{bicycle: bicycle}" />
      </header>

      <div class="bicycle-modal--properties">
        <f:render section="Price" arguments="{bicycle: bicycle}" />
        <f:render section="Condition" arguments="{bicycle: bicycle}" />
        <f:render section="LongDescription" arguments="{bicycle: bicycle}" />
        <f:render section="Service" arguments="{bicycle: bicycle}" />
        <f:render section="Size" arguments="{bicycle: bicycle}" />
      </div>
    </div>

    <f:comment>
<!--    <div>-->
<!--      <f:cObject typoscriptObjectPath="block.requestForm" />-->
<!--    </div>--></f:comment>
  </f:section>

  <f:section name="Images">
    <div class="bicycle-modal--image">
      <f:if condition="{bicycle.stickerCategory}">
        <div class="bicycle-modal--sticker bicycle-modal--{bicycle.stickerCategory.identifier}">
          <xo:svg.inline source="fileadmin/sticker/{bicycle.stickerCategory.identifier}.svg" />
        </div>
      </f:if>

      <div class="slider">
        <div class="slider--container">
          <f:for each="{bicycle.media}" as="image">
            <div class="slider--item">
              <f:render partial="Components/Media" section="Picture" arguments="{
              file: image,
              image: {maxWidth: 1040, cropVariant: 'fullsize'},
              sizes: {
                0: {maxWidth: 1040, mediaQuery: '(min-width: 768px)', cropVariant: 'fullsize'},
                1: {maxWidth: 700, mediaQuery: '(min-width: 1px)', cropVariant: 'fullsize'}
              }
            }" />
            </div>
          </f:for>
        </div>

        <div class="slider--controls">
          <div class="slider--controls-inner">
            <div class="slider--prev"><button aria-label="{f:translate(key: 'LLL:EXT:xo/Resources/Private/Language/locallang_frontend.xlf:tx_xo.prev')}"><xo:svg.inline source="/assets/svg/arrow-left.svg" /></button></div>
            <div class="slider--next"><button aria-label="{f:translate(key: 'LLL:EXT:xo/Resources/Private/Language/locallang_frontend.xlf:tx_xo.next')}"><xo:svg.inline source="/assets/svg/arrow-right.svg" /></button></div>
          </div>
        </div>

        <div class="slider--navigation">
          <div class="slider--navigation-inner">
            <ul>
              <f:for each="{bicycle.media}" as="image" iteration="iterator">
                <li title="{iterator.cycle}"><span>{iterator.cycle}</span></li>
              </f:for>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </f:section>

  <f:section name="Header">
    <div class="row">
      <div class="col-12 col-md-7">
        <div class="bicycle-modal--title">{bicycle.title}</div>

        <f:if condition="{bicycle.brand}">
          <div class="bicycle-modal--brand">{bicycle.brand}</div>
        </f:if>

        <f:if condition="{bicycle.itemNumber}">
          <div class="bicycle-modal--item-number"><f:translate key="bicycle.itemNumber" /> {bicycle.itemNumber}</div>
        </f:if>
      </div>

      <div class="col-12 col-md-5">
        <f:link.action class="bicycle-modal--request-action" action="request" arguments="{bicycle: bicycle}" pageUid="{settings.requestPageUid}"><f:translate key="actions.request" /></f:link.action>
      </div>
    </div>
  </f:section>

  <f:section name="Condition">
    <f:if condition="{bicycle.condition}">
      <div class="bicycle-modal--property">
        <div class="bicycle-modal--property-title"><f:translate key="bicycle.condition" /></div>
        <div class="bicycle-modal--property-value bicycle-modal--property-value-large">
          <f:translate key="bicycle.condition.{bicycle.condition}" />
        </div>

        <f:if condition="{bicycle.conditionDescription}">
          <div class="bicycle-modal--property-value bicycle-modal--property-value-html">
            <f:format.html>{bicycle.conditionDescription}</f:format.html>
          </div>
        </f:if>
      </div>
    </f:if>
  </f:section>

  <f:section name="LongDescription">
    <f:if condition="{bicycle.longDescription}">
      <div class="bicycle-modal--property">
        <div class="bicycle-modal--property-title"><f:translate key="bicycle.longDescription" /></div>
        <div class="bicycle-modal--property-value bicycle-modal--property-value-html">
          <f:format.html>{bicycle.longDescription}</f:format.html>
        </div>
      </div>
    </f:if>
  </f:section>

  <f:section name="Service">
    <f:if condition="{bicycle.serviceCondition}">
      <div class="bicycle-modal--property">
        <div class="bicycle-modal--property-title"><f:translate key="bicycle.serviceCondition" /></div>
        <div class="bicycle-modal--property-value bicycle-modal--property-value-html"><f:format.html>{bicycle.serviceCondition}</f:format.html></div>
      </div>
    </f:if>

    <f:if condition="{bicycle.manufacturerGuarantee}">
      <div class="bicycle-modal--property">
        <div class="bicycle-modal--property-title"><f:translate key="bicycle.manufacturerGuarantee" /></div>
        <div class="bicycle-modal--property-value bicycle-modal--property-value-large bicycle-modal--property-value-manufacturer-guarantee"><f:translate key="bicycle.manufacturerGuarantee.available" /></div>
      </div>
    </f:if>
  </f:section>

  <f:section name="Price">
    <div class="bicycle-modal--price bicycle-modal--property">
      <f:if condition="{bicycle.priceNegotiationBasis}">
        <f:then>
          <div class="bicycle-modal--price-title"><f:translate key="bicycle.price" /></div>
          <div class="bicycle-modal--price-value"><f:translate key="bicycle.priceNegotiationBasis" /></div>
        </f:then>
        <f:else if="{bicycle.discountPrice}">
          <div class="bicycle-modal--property-title bicycle-modal--price-title"><f:translate key="bicycle.price" /></div>
          <div class="bicycle-modal--property-value bicycle-modal--original-price"><f:format.currency currencySign="€">{bicycle.price}</f:format.currency></div>
          <div class="bicycle-modal--property-value bicycle-modal--property-value-large"><f:format.currency currencySign="€">{bicycle.discountPrice}</f:format.currency></div>
        </f:else>
        <f:else if="{bicycle.price}">
          <div class="bicycle-modal--property-title bicycle-modal--price-title"><f:translate key="bicycle.price" /></div>
          <div class="bicycle-modal--property-value bicycle-modal--property-value-large"><f:format.currency currencySign="€">{bicycle.price}</f:format.currency></div>
        </f:else>
      </f:if>
    </div>
  </f:section>

  <f:section name="Size">
    <div class="bicycle-modal--sizes">
      <f:if condition="{bicycle.frameSize}">
        <div class="bicycle-modal--size bicycle-modal--property">
          <div class="bicycle-modal--property-title"><f:translate key="bicycle.frameSize" /></div>
          <div class="bicycle-modal--property-value bicycle-modal--property-value-large">{bicycle.frameSize}</div>
        </div>
      </f:if>

      <f:if condition="{bicycle.wheelSize}">
        <div class="bicycle-modal--size bicycle-modal--property">
          <div class="bicycle-modal--property-title"><f:translate key="bicycle.wheelSize" /></div>
          <div class="bicycle-modal--property-value bicycle-modal--property-value-large">{bicycle.wheelSize}"</div>
        </div>
      </f:if>
    </div>
  </f:section>
</html>
