<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Default" />

  <f:section name="Main">

    <div class="bicycle-market--single">
      <f:comment><f:render section="Images" arguments="{bicycle: bicycle}" /></f:comment>
      <f:render section="Header" arguments="{bicycle: bicycle}" />
      <f:render section="Condition" arguments="{bicycle: bicycle}" />
      <f:render section="Service" arguments="{bicycle: bicycle}" />
      <f:render section="Price" arguments="{bicycle: bicycle}" />
      <f:render section="Size" arguments="{bicycle: bicycle}" />
    </div>
  </f:section>

  <f:section name="Images">

    <div class="slider">
      <div class="slider--container">
        <f:for each="{bicycle.media}" as="image">
          <div>
            <f:render partial="Components/Media" section="Picture" arguments="{
            file: image,
            image: {maxWidth: 1000, cropVariant: 'fullsize'},
            sizes: {
              0: {maxWidth: 1000, mediaQuery: '(min-width: 768px)', cropVariant: 'fullsize'},
              1: {maxWidth: 700, mediaQuery: '(min-width: 1px)', cropVariant: 'fullsize'}
            }
          }" />
          </div>
        </f:for>
      </div>

      <div class="slider--controls">
        <div class="slider--controls-inner">
          <div class="slider--prev"><button aria-label="{f:translate(key: 'LLL:EXT:xo/Resources/Private/Language/locallang_frontend.xlf:tx_xo.prev')}"><xo:svg.inline source="/assets/svg/arrow-left.svg" /></button></div>
          <div class="slider--next"><button aria-label="{f:translate(key: 'LLL:EXT:xo/Resources/Private/Language/locallang_frontend.xlf:tx_xo.next')}"><xo:svg.inline source="/assets/svg/arrow-right.svg" /></button></div>
        </div>
      </div>

      <f:render partial="Elements/Slider/Navigation" section="Main" arguments="{_all}" />
    </div>
  </f:section>

  <f:section name="Header">
    <header>{bicycle.title}</header>

    <f:if condition="{bicycle.brand}">
      <div><f:translate key="bicycle.brand" />: {bicycle.brand}</div>
    </f:if>

    <f:link.action action="request" arguments="{bicycle: bicycle}" pageUid="{settings.requestPageUid}"><f:translate key="bicycle.actions.request" /></f:link.action>
  </f:section>

  <f:section name="Condition">
    <f:if condition="{bicycle.condition}">
      <div>
        <f:translate key="bicycle.condition" />: <f:translate key="bicycle.condition.{bicycle.condition}" />
        <f:if condition="{bicycle.conditionDescription}">
          <f:format.html>{bicycle.conditionDescription}</f:format.html>
        </f:if>
      </div>
    </f:if>
  </f:section>

  <f:section name="Service">
    <f:if condition="{bicycle.serviceCondition}">
      <div>
        <f:translate key="bicycle.serviceCondition" />: <f:format.html>{bicycle.serviceCondition}</f:format.html>
      </div>
    </f:if>

    <f:if condition="{bicycle.manufacturerGuarantee}">
      <div>
        <f:translate key="bicycle.manufacturerGuarantee" />: <f:translate key="bicycle.manufacturerGuarantee.available" />
      </div>
    </f:if>
  </f:section>

  <f:section name="Price">
    <f:if condition="{bicycle.priceNegotiationBasis}">
      <f:then>
        <div>
          <f:translate key="bicycle.price" />: <f:translate key="bicycle.priceNegotiationBasis" />
        </div>
      </f:then>
      <f:else if="{bicycle.price}">
        <div>
          <f:translate key="bicycle.price" />: <f:format.currency currencySign="€">{bicycle.price}</f:format.currency>
        </div>
      </f:else>
    </f:if>
  </f:section>

  <f:section name="Size">
    <f:if condition="{bicycle.frameSize}">
      <div>
        <f:translate key="bicycle.frameSize" />: {bicycle.frameSize}"
      </div>
    </f:if>

    <f:if condition="{bicycle.wheelSize}">
      <div>
        <f:translate key="bicycle.wheelSize" />: {bicycle.wheelSize}"
      </div>
    </f:if>
  </f:section>
</html>
