<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Default" />

  <f:section name="Main">
    <div class="bicycle-modal--content bicycle-modal--data">
      <f:render section="Images" arguments="{bicycle: bicycle}" />

      <header class="bicycle-modal--header">
        <f:render section="Header" arguments="{bicycle: bicycle}" />
      </header>

      <div class="bicycle-modal--price">
        <f:render section="Price" arguments="{bicycle: bicycle}" />
      </div>

      <div class="bicycle-modal--properties">
        <div class="row">
          <f:render section="Condition" arguments="{bicycle: bicycle}" />
          <f:render section="Service" arguments="{bicycle: bicycle}" />
          <f:render section="Size" arguments="{bicycle: bicycle}" />
        </div>
      </div>
    </div>

    <f:comment>
<!--    <div>-->
<!--      <f:cObject typoscriptObjectPath="block.requestForm" />-->
<!--    </div>--></f:comment>
  </f:section>

  <f:section name="Images">
    <div class="bicycle-modal--image">
      <div class="slider">
        <div class="slider--container">
          <f:for each="{bicycle.media}" as="image">
            <div class="slider--item">
              <f:render partial="Components/Media" section="Picture" arguments="{
              file: image,
              image: {maxWidth: 1040, cropVariant: 'fullsize'},
              sizes: {
                0: {maxWidth: 1040, mediaQuery: '(min-width: 768px)', cropVariant: 'fullsize'},
                1: {maxWidth: 700, mediaQuery: '(min-width: 1px)', cropVariant: 'fullsize'}
              }
            }" />
            </div>
          </f:for>
        </div>

        <div class="slider--controls">
          <div class="slider--controls-inner">
            <div class="slider--prev"><button aria-label="{f:translate(key: 'LLL:EXT:xo/Resources/Private/Language/locallang_frontend.xlf:tx_xo.prev')}"><xo:svg.inline source="/assets/svg/arrow-left.svg" /></button></div>
            <div class="slider--next"><button aria-label="{f:translate(key: 'LLL:EXT:xo/Resources/Private/Language/locallang_frontend.xlf:tx_xo.next')}"><xo:svg.inline source="/assets/svg/arrow-right.svg" /></button></div>
          </div>
        </div>

        <div class="slider--navigation">
          <div class="slider--navigation-inner">
            <ul>
              <f:for each="{bicycle.media}" as="image" iteration="iterator">
                <li title="{iterator.cycle}"><span>{iterator.cycle}</span></li>
              </f:for>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </f:section>

  <f:section name="Header">
    <div class="row">
      <div class="col-12 col-md-7">
        <div class="bicycle-modal--title">{bicycle.title}</div>

        <f:if condition="{bicycle.brand}">
          <div class="bicycle-modal-brand">{bicycle.brand}</div>
        </f:if>
      </div>

      <div class="col-12 col-md-5">
        <f:link.action class="bicycle-modal--request-action" action="request" arguments="{bicycle: bicycle}" pageUid="{settings.requestPageUid}"><f:translate key="actions.request" /></f:link.action>
      </div>
    </div>
  </f:section>

  <f:section name="Condition">
    <f:if condition="{bicycle.condition}">
      <div class="col-12 col-sm-4 col-lg-3 bicycle-modal--property-title"><f:translate key="bicycle.condition" /></div>
      <div class="col-12 col-sm-8 col-lg-9 bicycle-modal--property-value">
        <f:translate key="bicycle.condition.{bicycle.condition}" />
        <f:if condition="{bicycle.conditionDescription}">
          <f:format.html>{bicycle.conditionDescription}</f:format.html>
        </f:if>
      </div>
    </f:if>
  </f:section>

  <f:section name="Service">
    <f:if condition="{bicycle.serviceCondition}">
      <div class="col-12 col-sm-4 col-lg-3 bicycle-modal--property-title"><f:translate key="bicycle.serviceCondition" /></div>
      <div class="col-12 col-sm-8 col-lg-9 bicycle-modal--property-value"><f:format.html>{bicycle.serviceCondition}</f:format.html></div>
    </f:if>

    <f:if condition="{bicycle.manufacturerGuarantee}">
      <div class="col-12 col-sm-4 col-lg-3 bicycle-modal--property-title"><f:translate key="bicycle.manufacturerGuarantee" /></div>
      <div class="col-12 col-sm-8 col-lg-9 bicycle-modal--property-value bicycle-modal--property-value-manufacturer-guarantee"><f:translate key="bicycle.manufacturerGuarantee.available" /></div>
    </f:if>
  </f:section>

  <f:section name="Price">
    <f:if condition="{bicycle.priceNegotiationBasis}">
      <f:then>
        <div class="bicycle-modal--price-title"><f:translate key="bicycle.price" /></div>
        <div class="bicycle-modal--price-value"><f:translate key="bicycle.priceNegotiationBasis" /></div>
      </f:then>
      <f:else if="{bicycle.price}">
        <div class="bicycle-modal--price-title"><f:translate key="bicycle.price" /></div>
        <div class="bicycle-modal--price-value"><f:format.currency currencySign="€">{bicycle.price}</f:format.currency></div>
      </f:else>
    </f:if>
  </f:section>

  <f:section name="Size">
    <f:if condition="{bicycle.frameSize}">
      <div class="col-12 col-sm-4 col-lg-3 bicycle-modal--property-title"><f:translate key="bicycle.frameSize" /></div>
      <div class="col-12 col-sm-8 col-lg-9 bicycle-modal--property-value">{bicycle.frameSize}"</div>
    </f:if>

    <f:if condition="{bicycle.wheelSize}">
      <div class="col-12 col-sm-4 col-lg-3 bicycle-modal--property-title"><f:translate key="bicycle.wheelSize" /></div>
      <div class="col-12 col-sm-8 col-lg-9 bicycle-modal--property-value">{bicycle.wheelSize}"</div>
    </f:if>
  </f:section>
</html>
