<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-entity-bicycle-market" >
	<tr>
		<td>
			<f:translate key="tx_entitybicyclemarket_domain_model_bicycle.brand" />
		</td>
		<td>
		{bicycle.brand}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_entitybicyclemarket_domain_model_bicycle.tx_entitybicyclemarket_condition" />
		</td>
		<td>
		{bicycle.condition}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_entitybicyclemarket_domain_model_bicycle.condition_description" />
		</td>
		<td>
		{bicycle.conditionDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_entitybicyclemarket_domain_model_bicycle.service_condition" />
		</td>
		<td>
		{bicycle.serviceCondition}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_entitybicyclemarket_domain_model_bicycle.frame_size" />
		</td>
		<td>
		{bicycle.frameSize}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_entitybicyclemarket_domain_model_bicycle.wheel_size" />
		</td>
		<td>
		{bicycle.wheelSize}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_entitybicyclemarket_domain_model_bicycle.price" />
		</td>
		<td>
		{bicycle.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_entitybicyclemarket_domain_model_bicycle.price_negotiation_basis" />
		</td>
		<td>
		{bicycle.priceNegotiationBasis}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_entitybicyclemarket_domain_model_bicycle.manufacturer_guarantee" />
		</td>
		<td>
		{bicycle.manufacturerGuarantee}
		</td>
	</tr>
</table>
</html>
